/*This is a comment*/

html {
	background-color: #FFFFFF;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

header {

}

body {
	margin: 0 auto;
	background-color: #FFFFFF;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color:  #000000;
	font-size: 60px;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

.navbar {
	background-color: #d7d7d9;
}

.fixed-top{
	top: auto;
	right: 0;
	left: 0;
	z-index:1030;
	position: fixed !important;
	margin: 0;
}

.site-content {
}